.to-do-list {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

.to-do-list h1 {
    font-size: 3em;
}

ol {
    padding: 0px;
}

.add-button {
    font-size: 1rem;
    padding: 6px 18px;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    transition: background-color 0.5 ease;
    margin-left: 10px;
}

.add-button:hover {
    background-color: #90EE90;
    color: #ffffff;
}

.delete-button {
    font-size: 1em;
    border: none;
    border-radius: 45px;
    background-color: transparent;
    transition: background-color 0.5 ease;
}

.delete-button:hover {
    color: red;
}

.move-button {
    font-size: 1.5em;
    border: none;
    border-radius: 45px;
    background-color: transparent;
    transition: background-color 0.5 ease;
}

.move-button:hover {
    color: red;
}

input[type = "text"] {
    font-size: 1em;
    padding: 6px 28px;
    border: 1px solid hsl(0, 0%, 80%, 0.6);
    border-radius: 40px;
}

li {
    font-size: 1.5em;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.text {
    flex: 1;
}

.delete-button, .move-button {
    padding: 8px 12px;
}

.toast-progress {
    background: black; 
}

.toast-body {
    font-size: 1.7em;
}
